


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}


body {
  font-size: rem(14px);
  line-height: 1.42;
  position: relative;
  color: black;
  font-family: 'Ubuntu-Light';
  
}



html {
  @include tablets {
      font-size: rem(13px);
  }

  @include phones {
      font-size: rem(12px);
  }
}

.wrapper {
  position: relative;
  width: 100%;
  // min-width: rem(940px) + rem(20px);
  min-height: 100%;
  overflow: hidden;
  // display: flex;
  // flex-direction: column;
}

.group {
  width: 100%;
  height: 100vh;
  min-height: rem(650px);
  
 
}

.position {
  height: 100%;
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // text-align: center;

  @include tablets {
    width: 100%;
  }
  @include phones {
    width: 100%;
  }
}



p {
  color: #aeaba9;
  
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}


.title {
  font-size: rem(72px) ;
  font-family: 'Gagalin Regular';
  color: #f9b43b;
  text-align: left;
  line-height: 1;
  @include tablets {
    text-align: center;
  }
  @include phones {
    font-size: rem(63px);
  }

  
}

.title__we {
  color: #2f3234;
  text-align: center;
}

.title__menu {
  color: #ffffff;

  @include tablets {
    float: left;
  }
  @include phones{
    float: left;
  }

}

.title__form {
  text-align: center;

  @include tablets {
    font-size: rem(60px);
  }

  
  
}

.we__title {
  font-size: rem(24px);
  font-family: 'Lifehack Medium';
  color: #2f3234;
  text-align: center;
  @include phones  {
    text-align: left;
  }
  
}
