.button {
  display: inline-block;
  border: rem(0px);
  background: #e45028;
  color: white;
  border-radius: rem(5px);
  padding: rem(9px) rem(16px);
  text-transform: uppercase;
  font-size: rem(13px);
  font-family: 'Ubuntu-Medium';

    &:hover {
      background: #c1401e;
      transition: 0.5s;
    }
}


.button__transparen {
  background: transparent;
  &:hover {
    background: transparent;
    
  }
}