

.first {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url('../img/bg.png') center center / cover no-repeat ;

}

.header {
  height: rem(85px);
}

.content {
  display: flex;
  align-items: center;
  height: 100%;
  width: rem(940px);
  margin: 0 auto;

}

.content__item {
  
  // margin-right: auto;
}

.header__left {
  float: left;
  padding-top: rem(10px);
  padding-right: rem(20px);
  // padding-left: rem(50px);
}

.nav {
  display: flex;
  align-items: center;
  color: white;
  font-family: 'Ubuntu-Medium';

}

.nav__list {
  margin-left: rem(10px);
  display: flex;
  align-items: center;
  &:first-child {
    &::before {
      display: none;
    }
  }
  &::before {
    content: " ";
    display: block;
    width: rem(4px);
    height: rem(4px);
    background: #ffffff;
    border-radius: 50%;
    margin: 0 rem(13px);
  }
}

.nav__link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: rem(13px);
}

.header__centr {
 
}

.header__right {
  float: right;
  // width: rem(100px);
  // height: rem(35px);
  padding-left: rem(10px);
}





.first__contenren {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;


    
  
}

.first__cent {
  display: flex;
  justify-content: center;
  @include tablets {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


 } 



.img_burg {
  width: rem(470px);
  height: rem(450px);
  float: left;
  @include phones {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

}

.first__picture {
  @include phones {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

}

.first__text {
  padding-left: rem(10px);
  line-height: rem(50px);
  
   @include tablets {
    justify-content: center;
    align-items: center;
    margin-top: rem(-70px);
  }
  
  

  
}
 .subtext{
  font-size: rem(65px);
  font-family: 'Lifehack Medium';
  color: #fff;
  text-align: left;
  @include tablets {
    text-align: center;
  }
 }
 
.strel {
  text-align: center;
  padding-bottom: rem(40px);

}