

.first {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url('../img/bg.png') center center / cover no-repeat ;

}

.header {
  height: rem(85px);
}

.content {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 auto;

}

.content__item {
  
  // margin-right: auto;
}

.header__left {
  float: left;
  padding-top: rem(10px);
  padding-right: rem(20px);
  // padding-left: rem(50px);
}

.nav {
  display: flex;
  align-items: center;
  color: white;
  font-family: 'Ubuntu-Medium';

  @include tablets {
    display: none;
  }
  @include phones {
    display: none;
  }

}

.nav__list {
  margin-left: rem(5px);
  display: flex;
  align-items: center;
  
  &:first-child {
    &::before {
      display: none;
    }
  }
  &::before {
    content: " ";
    display: block;
    width: rem(4px);
    height: rem(4px);
    background: #ffffff;
    border-radius: 50%;
    margin: 0 rem(6px);
  }
}

.nav__link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: rem(13px);
}

.btn__nav {
  display: none;
  position: relative;
  z-index: 900;
  width: rem(25px);
  height: rem(25px);
  margin-left: rem(20px);
  margin-right: 2vw;
  margin-top: 4%;

 
  @include tablets {
    display: block;
    
     
    }
  
  @include phones {
    display: block;
  }
}

.btn__nav_btn {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 100%;
  z-index: 1000;
  
  
}

.btn__nav_btn-decor {
  display: inline-block;
  height: rem(3px);
  border-radius: rem(3px);
  background-color: #fff;
}
.header__centr {
 
}

.header__right {
  float: right;
  // width: rem(100px);
  // height: rem(35px);
  padding-left: rem(10px);

  @include tablets {
    display: flex;
    margin-left: auto;
   
  }
  @include phones {
    display: flex;
    margin-left: auto;
  }
  
}





.first__contenren {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;


    
  
}

.first__cent {
  display: flex;
  justify-content: center;
  
  @include tablets {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


 } 



.img_burg {
  width: rem(470px);
  height: rem(450px);
  float: left;
  @include phones {
    width: rem(335px);
    height: rem(335px);
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

}

.first__picture {
  width: 50%;
   @include tablets {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  @include phones {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

}

.first__text {
  padding-left: rem(10px);
  line-height: rem(50px);
  width: 50%;
  
   @include tablets {
    justify-content: center;
    align-items: center;
    margin-top: rem(-70px);
    width: 100%;
  }
  @include phones {
    justify-content: center;
    align-items: center;
    margin-top: rem(-70px);
    width: 100%;
  }
  
  

  
}
 .subtext{
  font-size: rem(65px);
  font-family: 'Lifehack Medium';
  color: #fff;
  text-align: left;
  @include tablets {
    text-align: center;
  }
  @include phones {
    font-size: rem(54px);
  }

 }
 
.strel {
  text-align: center;
  padding-bottom: rem(40px);

}