

.first {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url('../img/bg.png') center center / cover no-repeat ;

}

.header {
  height: 85px;
}

.content {
  display: flex;
  align-items: center;
  height: 100%;
  width: 940px;
  margin: 0 auto;

}

.content__item {
  
  // margin-right: auto;
}

.header__left {
  float: left;
  padding-top: 10px;
  padding-right: 20px;
  // padding-left: 50px;
}

.nav {
  display: flex;
  align-items: center;
  color: white;
  font-family: 'Ubuntu-Medium';

}

.nav__list {
  margin-left: 10px;
  display: flex;
  align-items: center;
  &:first-child {
    &::before {
      display: none;
    }
  }
  &::before {
    content: " ";
    display: block;
    width: 4px;
    height: 4px;
    background: #ffffff;
    border-radius: 50%;
    margin: 0 13px;
  }
}

.nav__link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
}

.header__centr {
 
}

.header__right {
  float: right;
  // width: 100px;
  // height: 35px;
  padding-left: 10px;
}

.button {
  display: inline-block;
  border: 0px;
  background: #e45028;
  color: white;
  border-radius: 5px;
  padding: 9px 16px;
  text-transform: uppercase;
  font-size: 13px;
  font-family: 'Ubuntu-Medium';

    &:hover {
      background: #c1401e;
      transition: 0.5s;
    }
}



.first__contenren {
  display: flex;
  justify-content: center;
  flex: 1;
  padding-top: 50px;
}




.img_burg {
  width: 470px;
  height: 450px;
  float: left;

}

.first__picture {
  // margin-left: 0;
}

.first__text {
  padding-left: 10px;
  line-height: 50px;
  
}
 .subtext{
  font-size: 65px;
  font-family: 'Lifehack Medium';
  color: #fff;
  text-align: left;
 }
 
.strel {
  text-align: center;
  padding-bottom: 40px;

}