
.footer {
  bottom: 0;
  height: rem(60px);
  width: 100%;
  position: absolute;
  background: url('../img/footer.png') center center / cover no-repeat ;
  @include phones  {
    height: rem(115px);
  }
}

.footer__cent {
  display: flex;
  @include phones {
    flex-direction: column;
    align-items: center;
  }
}

.footer__left {
  width: 50%;
  float: left;
  align-items: center;
  display: flex;
  @include phones {
    width: 100%;
    justify-content: center;
    text-align: center;
  }
}

.footer__right {
  width: 50%;
  float: right;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  @include phones {
    width: 100%;
    justify-content: center;
  }
  @include phones  {
    padding-top: rem(15px);
  }
}

.address__street {
  color: #ffffff;
  padding-bottom: rem(7px);
  font-style: normal;
 
}

.address__tel {
  color: #d14925;
  font-family: 'Ubuntu-B';
  font-style: normal;
  
}

.address__tel-img {
  padding-right: rem(5px);
}

.social__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social__item {
  padding-right: rem(20px);
  
}

.social__img {
  width: rem(20px);
  height: rem(20px);
  

}