
.forma {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: relative;
  background: url('../img/form.png') center center / cover no-repeat ;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__bottom, .form__top {
  display: flex;
  margin-bottom: rem(20px);
}

.form__left {
  width: 50%;;
  overflow: hidden;
  
} 

.form__right {
  width: 50%;
  overflow: hidden;
}

.form__row {
  display: flex;
  
}

.form__row::after, 
.form__row::before {
  content: '';
  display: block;
  clear: both;
}


.form__block {
  flex: 1;
  margin-right: rem(20px);

  &:last-child {
    margin-left: 0;
  }
 

}

.form__block-title,
.form__radio-text,
.form__chec-text  {
  color: #ffffff;
  margin-bottom: rem(10px);
  margin-top: rem(18px);
}

.form__input {
  border-radius: rem(5px);
  border: #ffffff;
  outline: none;
  height: rem(35px);
  
  width: 100%;
  padding: rem(5px);
  &:focus {
    border: rem(2px)  solid #e35028;
    transition: 0.3s;
  }
}

.form__textarea {
  resize: none;
  border: #ffffff;
  outline: none;
  height: rem(115px);
  width: 100%;
  border-radius: rem(5px);
  padding: rem(5px);
  &:focus {
    border: rem(2px)  solid #e35028;
    transition: 0.3s;
  }
}

.form__radio {
  padding: rem(20px) rem(20px) rem(0px) rem(0px);
}

.form__chec {
  padding-top: rem(24px);
  padding-bottom: rem(18px);
}



// .form__input-radio, 
// .form__input-chec {
//   margin-right: rem(10px);
// }

.form__btn:after {
  content: "";
  position: absolute;
  background-color: #4b73b5;
  transition: 1s;
}

.form__btn {
  vertical-align: middle;
  position: relative;
  width: rem(16px);
  height: rem(16px);
  border-radius: 50%;
  border: rem(1px) solid #4b73b5;
  margin-right: rem(10px);
}



.form__input-radio:checked {
  color: #e35028;
}

.form__input-chec:checked {
  color: #e35028;
}