* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%; }

body {
  font-size: 1rem;
  line-height: 1.42;
  position: relative;
  color: black;
  font-family: 'Ubuntu-Light'; }

@media screen and (max-width: 768px) {
  html {
    font-size: 0.9285714286rem; } }
@media screen and (max-width: 480px) {
  html {
    font-size: 0.8571428571rem; } }

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.group {
  width: 100%;
  height: 100vh;
  min-height: 46.4285714286rem; }

.position {
  height: 100%;
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .position {
      width: 100%; } }
  @media screen and (max-width: 480px) {
    .position {
      width: 100%; } }

p {
  color: #aeaba9; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

.title {
  font-size: 5.1428571429rem;
  font-family: 'Gagalin Regular';
  color: #f9b43b;
  text-align: left;
  line-height: 1; }
  @media screen and (max-width: 768px) {
    .title {
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .title {
      font-size: 4.5rem; } }

.title__we {
  color: #2f3234;
  text-align: center; }

.title__menu {
  color: #ffffff; }
  @media screen and (max-width: 768px) {
    .title__menu {
      float: left; } }
  @media screen and (max-width: 480px) {
    .title__menu {
      float: left; } }

.title__form {
  text-align: center; }
  @media screen and (max-width: 768px) {
    .title__form {
      font-size: 4.2857142857rem; } }

.we__title {
  font-size: 1.7142857143rem;
  font-family: 'Lifehack Medium';
  color: #2f3234;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .we__title {
      text-align: left; } }

@font-face {
  font-family: 'Gagalin Regular';
  src: url("../fonts/Gagalin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
@font-face {
  font-family: 'Ubuntu-B';
  src: url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
@font-face {
  font-family: 'Ubuntu-Light';
  src: url("../fonts/Ubuntu-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
@font-face {
  font-family: 'Ubuntu-Medium';
  src: url("../fonts/Ubuntu-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
@font-face {
  font-family: 'Ubuntu-Regular';
  src: url("../fonts/Ubuntu/Ubuntu-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
@font-face {
  font-family: 'Lifehack Medium';
  src: url("../fonts/Lifehack-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
.button {
  display: inline-block;
  border: 0rem;
  background: #e45028;
  color: white;
  border-radius: 0.3571428571rem;
  padding: 0.6428571429rem 1.1428571429rem;
  text-transform: uppercase;
  font-size: 0.9285714286rem;
  font-family: 'Ubuntu-Medium'; }
  .button:hover {
    background: #c1401e;
    transition: 0.5s; }

.button__transparen {
  background: transparent; }
  .button__transparen:hover {
    background: transparent; }

.first {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../img/bg.png") center center/cover no-repeat; }

.header {
  height: 6.0714285714rem; }

.content {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 auto; }

.header__left {
  float: left;
  padding-top: 0.7142857143rem;
  padding-right: 1.4285714286rem; }

.nav {
  display: flex;
  align-items: center;
  color: white;
  font-family: 'Ubuntu-Medium'; }
  @media screen and (max-width: 768px) {
    .nav {
      display: none; } }
  @media screen and (max-width: 480px) {
    .nav {
      display: none; } }

.nav__list {
  margin-left: 0.3571428571rem;
  display: flex;
  align-items: center; }
  .nav__list:first-child::before {
    display: none; }
  .nav__list::before {
    content: " ";
    display: block;
    width: 0.2857142857rem;
    height: 0.2857142857rem;
    background: #ffffff;
    border-radius: 50%;
    margin: 0 0.4285714286rem; }

.nav__link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 0.9285714286rem; }

.btn__nav {
  display: none;
  position: relative;
  z-index: 900;
  width: 1.7857142857rem;
  height: 1.7857142857rem;
  margin-left: 1.4285714286rem;
  margin-right: 2vw;
  margin-top: 4%; }
  @media screen and (max-width: 768px) {
    .btn__nav {
      display: block; } }
  @media screen and (max-width: 480px) {
    .btn__nav {
      display: block; } }

.btn__nav_btn {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 100%;
  z-index: 1000; }

.btn__nav_btn-decor {
  display: inline-block;
  height: 0.2142857143rem;
  border-radius: 0.2142857143rem;
  background-color: #fff; }

.header__right {
  float: right;
  padding-left: 0.7142857143rem; }
  @media screen and (max-width: 768px) {
    .header__right {
      display: flex;
      margin-left: auto; } }
  @media screen and (max-width: 480px) {
    .header__right {
      display: flex;
      margin-left: auto; } }

.first__contenren {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; }

.first__cent {
  display: flex;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .first__cent {
      display: flex;
      flex-direction: column;
      align-items: center; } }

.img_burg {
  width: 33.5714285714rem;
  height: 32.1428571429rem;
  float: left; }
  @media screen and (max-width: 480px) {
    .img_burg {
      width: 23.9285714286rem;
      height: 23.9285714286rem;
      display: flex;
      flex-direction: column;
      align-items: center; } }

.first__picture {
  width: 50%; }
  @media screen and (max-width: 768px) {
    .first__picture {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%; } }
  @media screen and (max-width: 480px) {
    .first__picture {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%; } }

.first__text {
  padding-left: 0.7142857143rem;
  line-height: 3.5714285714rem;
  width: 50%; }
  @media screen and (max-width: 768px) {
    .first__text {
      justify-content: center;
      align-items: center;
      margin-top: -5rem;
      width: 100%; } }
  @media screen and (max-width: 480px) {
    .first__text {
      justify-content: center;
      align-items: center;
      margin-top: -5rem;
      width: 100%; } }

.subtext {
  font-size: 4.6428571429rem;
  font-family: 'Lifehack Medium';
  color: #fff;
  text-align: left; }
  @media screen and (max-width: 768px) {
    .subtext {
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .subtext {
      font-size: 3.8571428571rem; } }

.strel {
  text-align: center;
  padding-bottom: 2.8571428571rem; }

.we {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../img/bg2.png") center center/cover no-repeat;
  padding: 0; }

.we__list {
  display: flex;
  align-items: flex-start; }
  @media screen and (max-width: 480px) {
    .we__list {
      flex-direction: column; } }

.we__item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.8571428571rem 1.0714285714rem; }
  @media screen and (max-width: 480px) {
    .we__item {
      flex-direction: initial;
      padding: 1.4285714286rem 0.7142857143rem; } }

.we__img {
  padding-bottom: 1.7857142857rem; }

@media screen and (max-width: 480px) {
  .we__img-elem {
    height: 7.1428571429rem;
    width: 7.1428571429rem; } }

.we__content {
  text-align: center; }
  @media screen and (max-width: 480px) {
    .we__content {
      text-align: left;
      float: left;
      margin-left: 1.7857142857rem; } }

.we__text {
  padding-top: 1.4285714286rem; }
  @media screen and (max-width: 480px) {
    .we__text {
      float: left; } }

.reviews {
  top: 0;
  left: 0;
  height: 100%;
  position: relative; }

.reviews__list {
  background: black;
  height: 100%;
  display: flex;
  flex-wrap: wrap; }

.reviews__item {
  height: 50%;
  width: 25%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
  position: relative; }
  .reviews__item:hover .reviews__hover {
    opacity: 1;
    visibility: visible;
    transition: 1s; }
  @media screen and (max-width: 768px) {
    .reviews__item {
      height: 25%;
      width: 50%; } }

.reviews__hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(20, 20, 20, 0.7);
  color: #ffffff;
  opacity: 0;
  visibility: hidden; }
  @media screen and (max-width: 768px) {
    .reviews__hover {
      text-align: center; } }

.reviews__hover-activ {
  opacity: 1;
  color: #ffffff; }
  @media screen and (max-width: 768px) {
    .reviews__hover-activ {
      text-align: center; } }

.reviews__title {
  padding: 3.2857142857rem 0 1.8571428571rem 1.2857142857rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Ubuntu-Medium'; }
  @media screen and (max-width: 768px) {
    .reviews__title {
      padding-top: 1.4285714286rem;
      padding-bottom: 0.7142857143rem; } }
  @media screen and (max-width: 480px) {
    .reviews__title {
      font-family: 'Gagalin Regular';
      font-size: 1.7142857143rem;
      padding-top: 2.8571428571rem;
      padding-bottom: 1.7857142857rem; } }

.reviews__text {
  padding: 0 2.1428571429rem 1.0714285714rem 1.2857142857rem;
  color: #ffffff; }
  @media screen and (max-width: 480px) {
    .reviews__text {
      display: none; } }

.btn {
  padding-left: 1.2857142857rem; }

.aside {
  position: fixed;
  top: 5.1428571429rem;
  right: 2vw;
  width: 3.5714285714rem;
  z-index: 1000; }

.aside__btn {
  position: relative;
  display: block;
  width: 100%;
  height: 1.5rem; }

.aside__btn:before {
  width: 0;
  height: 0;
  background-color: transparent;
  border: 0.0714285714rem solid #ffffff;
  transition: 0.3s;
  box-shadow: 0rem 0rem 0.8571428571rem 0rem rgba(0, 0, 0, 0.11); }

.aside__btn:after {
  width: 0.4285714286rem;
  height: 0.4285714286rem;
  background-color: #fff;
  box-shadow: 0rem 0rem 0.8571428571rem 0rem rgba(0, 0, 0, 0.11); }

.aside__btn:after,
.aside__btn:before {
  content: ' ';
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%; }

.aside__item.activ
.aside__btn:before {
  width: 1.1428571429rem;
  height: 1.1428571429rem; }

.aside__btn:hover:before {
  width: 1.1428571429rem;
  height: 1.1428571429rem; }

.team {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: relative;
  background: url("../img/SBS_1255-X2.png") center center/cover no-repeat; }

.team__right {
  position: absolute;
  top: 0;
  right: 0rem;
  bottom: 0;
  width: 50%;
  overflow: hidden;
  background-color: rgba(57, 59, 60, 0.93); }
  @media screen and (max-width: 768px) {
    .team__right {
      width: 100%; } }

.team__cent {
  padding: 6.0714285714rem 6.4285714286rem;
  overflow: hidden; }

.accordeon-team__list {
  display: flex;
  flex-direction: column; }

.accordeon-team__elem {
  padding-top: 2.5rem; }
  .accordeon-team__elem_activ .accordeon-team__contener {
    height: 100%;
    padding-top: 1rem;
    padding-left: 1rem; }
  .accordeon-team__elem_activ .accordeon-team__btn {
    color: #f9b43b; }
    .accordeon-team__elem_activ .accordeon-team__btn:before {
      transform: rotate(-180deg);
      position: relative;
      top: -0.4285714286rem; }

.accordeon-team__btn {
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Gagalin Regular';
  font-size: 1rem;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; }
  .accordeon-team__btn:before {
    content: "";
    height: 0;
    width: 0;
    border: 0.4285714286rem solid transparent;
    border-top-color: #f9b43b;
    margin-right: 0.7142857143rem; }
    @media screen and (max-width: 480px) {
      .accordeon-team__btn:before {
        height: 0;
        width: 0;
        border: 0.5714285714rem solid transparent;
        border-top-color: #f9b43b;
        margin-right: 0.7142857143rem; } }
    @media screen and (max-width: 768px) {
      .accordeon-team__btn:before {
        height: 0;
        width: 0;
        border: 0.5714285714rem solid transparent;
        border-top-color: #f9b43b;
        margin-right: 0.7142857143rem; } }
  @media screen and (max-width: 768px) {
    .accordeon-team__btn {
      justify-content: center;
      font-size: 1.7142857143rem; } }
  @media screen and (max-width: 480px) {
    .accordeon-team__btn {
      font-size: 1.7142857143rem; } }

.accordeon-team__contener {
  display: flex;
  overflow: hidden;
  height: 0; }
  @media screen and (max-width: 768px) {
    .accordeon-team__contener {
      flex-direction: column;
      align-items: center; } }

.accordeon-team__img {
  height: 100%;
  width: 100%; }

.accordeon-team__picture {
  height: 7.1428571429rem;
  width: 7.1428571429rem;
  border-radius: 50%;
  overflow: hidden;
  flex: 1 0 auto;
  margin-right: 1.1428571429rem; }

.accordeon-team__text {
  float: right; }
  @media screen and (max-width: 768px) {
    .accordeon-team__text {
      text-align: center;
      margin-top: 0.7142857143rem; } }

.accordeon-team__title {
  color: #ffffff;
  font-family: 'Ubuntu-B';
  margin-bottom: 1rem; }

.accordeon-team__p {
  color: #ffffff; }

.menu {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: relative;
  background: url("../img/menu.png") center center/cover no-repeat;
  padding: 6.4285714286rem; }
  @media screen and (max-width: 768px) {
    .menu {
      padding-left: 1.4285714286rem; } }
  @media screen and (max-width: 480px) {
    .menu {
      padding-left: 2.5rem; } }

.accordeon-menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  display: flex;
  justify-content: flex-end; }
  @media screen and (max-width: 768px) {
    .accordeon-menu {
      width: 100%; } }

.accordeon-menu__list {
  display: flex;
  justify-content: flex-end; }

.accordeon-menu__elem {
  display: flex; }
  .accordeon-menu__elem_activ:hover .accordeon-menu__content {
    width: 100%;
    transition: 0.3s; }
  .accordeon-menu__elem_activ:hover .accordeon-menu__btn-text {
    color: #e7a93f; }

.accordeon-menu__btn {
  width: 5.7142857143rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; }

.accordeon-menu__btn-text {
  position: absolute;
  transform: rotate(-90deg) translateY(-50%);
  white-space: nowrap;
  color: #ffffff;
  font-size: 2.8571428571rem;
  font-family: 'Gagalin Regular';
  top: 100%;
  left: 50%;
  transform-origin: 0 0;
  margin-top: -1.4285714286rem; }
  @media screen and (max-width: 480px) {
    .accordeon-menu__btn-text {
      margin-top: -4.2857142857rem; } }

.accordeon-menu__content {
  overflow: hidden;
  width: 0;
  background-color: rgba(76, 78, 80, 0.93); }

.accordeon-menu__text {
  padding: 4.2857142857rem 2.1428571429rem;
  color: #ffffff; }

.forma {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("../img/form.png") center center/cover no-repeat; }

.form {
  display: flex;
  flex-direction: column; }
  @media screen and (max-width: 768px) {
    .form {
      padding-left: 15%;
      padding-right: 15%;
      flex-direction: column;
      align-items: center; } }
  @media screen and (max-width: 480px) {
    .form {
      padding-left: 2%;
      padding-right: 2%;
      flex-direction: column;
      align-items: center; } }

.form__bottom, .form__top {
  display: flex;
  margin-bottom: 1.4285714286rem; }
  @media screen and (max-width: 768px) {
    .form__bottom, .form__top {
      flex-direction: column;
      align-items: center; } }

.form__left {
  width: 50%;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .form__left {
      width: 100%; } }

.form__right {
  width: 50%;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .form__right {
      width: 100%; } }

.form__row {
  display: flex; }

@media screen and (max-width: 480px) {
  .form__row-bottom {
    display: flex;
    flex-direction: column;
    align-items: center; } }

.form__row::after,
.form__row::before {
  content: '';
  display: block;
  clear: both; }

.form__block {
  flex: 1;
  margin-right: 1.4285714286rem; }
  .form__block:last-child {
    margin-left: 0; }
  @media screen and (max-width: 768px) {
    .form__block:last-child {
      margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .form__block:last-child {
      margin-right: 0; } }

.form__block-title,
.form__radio-text,
.form__chec-text {
  color: #ffffff;
  margin-bottom: 0.7142857143rem;
  margin-top: 1.2857142857rem; }

.form__input {
  border-radius: 0.3571428571rem;
  border: #ffffff;
  outline: none;
  height: 2.5rem;
  width: 100%;
  padding: 0.3571428571rem; }
  .form__input:focus {
    border: 0.1428571429rem solid #e35028;
    transition: 0.3s; }

.form__textarea {
  resize: none;
  border: #ffffff;
  outline: none;
  height: 8.2142857143rem;
  width: 100%;
  border-radius: 0.3571428571rem;
  padding: 0.3571428571rem; }
  .form__textarea:focus {
    border: 0.1428571429rem solid #e35028;
    transition: 0.3s; }

.form__radio {
  padding: 0rem 1.4285714286rem 0rem 0rem; }

.form__input-radio {
  position: absolute;
  visibility: hidden; }

.form__radio-text {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-right: 0.3571428571rem; }

.form__input-radio:checked + .form__radio-text .form__btn:after {
  width: 0.5rem;
  height: 0.5rem; }

.form__input-radio:not(checked) + .form__radio-text .form__btn:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0rem;
  height: 0rem;
  border-radius: 50%;
  background-color: #e35028;
  transition: 1s; }

.form__btn {
  vertical-align: middle;
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  width: 1.0714285714rem;
  height: 1.0714285714rem;
  border-radius: 50%;
  border: 0.0714285714rem solid #fff;
  margin-right: 0.5714285714rem;
  background-color: #ffffff; }

.form__row_right {
  justify-content: flex-end;
  padding: 0 0.7142857143rem; }

.form__row::after,
.form__row::before {
  content: '';
  display: block;
  clear: both; }

.form__chec {
  padding-bottom: 0.9285714286rem; }

.form__input-chec {
  position: absolute;
  visibility: hidden; }

.form__chec-text {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-right: 0.5714285714rem; }

.form__input-chec:checked + .form__chec-text .form__btn-chec:after {
  width: 100%;
  height: 100%;
  opacity: 0; }

.form__input-chec:not(checked) + .form__chec-text .form__btn-chec:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background: url("../img/gl.png");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  transition: 0.3s;
  opacity: 1; }

.form__btn-chec {
  vertical-align: middle;
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  width: 1.0714285714rem;
  height: 1.0714285714rem;
  border: 0.0714285714rem solid #fff;
  margin-right: 0.5714285714rem;
  background-color: #ffffff; }

.form__row_right {
  justify-content: flex-end;
  padding: 0 0.7142857143rem; }

.map {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: relative;
  background: url("../img/map.png") center center/cover no-repeat; }

.footer {
  bottom: 0;
  height: 4.2857142857rem;
  width: 100%;
  position: absolute;
  background: url("../img/footer.png") center center/cover no-repeat; }
  @media screen and (max-width: 480px) {
    .footer {
      height: 8.2142857143rem; } }

.footer__cent {
  display: flex; }
  @media screen and (max-width: 480px) {
    .footer__cent {
      flex-direction: column;
      align-items: center; } }

.footer__left {
  width: 50%;
  float: left;
  align-items: center;
  display: flex; }
  @media screen and (max-width: 480px) {
    .footer__left {
      width: 100%;
      justify-content: center;
      text-align: center; } }

.footer__right {
  width: 50%;
  float: right;
  align-items: center;
  display: flex;
  justify-content: flex-end; }
  @media screen and (max-width: 480px) {
    .footer__right {
      width: 100%;
      justify-content: center; } }
  @media screen and (max-width: 480px) {
    .footer__right {
      padding-top: 1.0714285714rem; } }

.address__street {
  color: #ffffff;
  padding-bottom: 0.5rem;
  font-style: normal; }

.address__tel {
  color: #d14925;
  font-family: 'Ubuntu-B';
  font-style: normal; }

.address__tel-img {
  padding-right: 0.3571428571rem; }

.social__list {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.social__item {
  padding-right: 1.4285714286rem; }

.social__img {
  width: 1.4285714286rem;
  height: 1.4285714286rem; }

.burger {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(to bottom, #f9b43b 0%, #eb8d38 50%, #f9b43b 100%); }

.burger__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; }

.burger__elem {
  display: flex;
  position: relative;
  min-height: 33.9285714286rem; }
  @media screen and (max-width: 768px) {
    .burger__elem {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 85%;
      width: 85%; } }
  @media screen and (max-width: 480px) {
    .burger__elem {
      width: 100%; } }

.burger__col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1; }
  @media screen and (max-width: 768px) {
    .burger__col {
      justify-content: flex-end; } }

@media screen and (max-width: 480px) {
  .burger__col-img {
    width: 25.3571428571rem;
    height: 17.5rem; } }

.burger__text {
  color: #ffffff;
  height: 100px;
  overflow: hidden;
  margin-top: 2.8571428571rem;
  margin-bottom: 1.4285714286rem; }
  @media screen and (max-width: 768px) {
    .burger__text {
      text-align: center; } }

.burger__order {
  display: flex;
  align-items: flex-end; }
  @media screen and (max-width: 768px) {
    .burger__order {
      justify-content: center; } }

.burger__price {
  font-size: 2.1428571429rem;
  color: #e35028;
  font-family: 'Gagalin Regular';
  line-height: 1;
  margin-right: 2.1428571429rem; }
  .burger__price span {
    font-size: 2em; }

.slider {
  position: absolute;
  top: 50%;
  width: 1.9285714286rem;
  height: 1.0714285714rem;
  color: #ffffff;
  cursor: pointer; }
  .slider_left {
    transform: rotate(90deg);
    left: 0; }
  .slider_right {
    transform: rotate(-90deg);
    right: 0; }

.composition {
  position: absolute;
  top: 0;
  left: 0; }

.composition__wrap {
  display: flex;
  align-items: flex-start;
  cursor: pointer; }
  .composition__wrap:hover .composition__dropdown {
    top: 0;
    opacity: 1; }
  .composition__wrap:hover .composition__btn {
    background-color: #e35028; }

.composition__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f08c33;
  border-radius: 0.3571428571rem;
  padding: 0.7142857143rem;
  width: 6.4285714286rem;
  height: 6.4285714286rem; }
  .composition__btn:hover {
    background-color: #e35028;
    transition: 0.3s; }

.composition__text {
  font-family: 'Gagalin Regular';
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 0.3571428571rem; }

.composition__dropdown {
  position: absolute;
  left: 6.4285714286rem;
  width: 19.2857142857rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0.3571428571rem;
  padding: 1.4285714286rem;
  top: -71.4285714286rem;
  opacity: 0;
  transition: opacity 1.3s; }

.composition__col_icom {
  padding: 0.5714285714rem; }

.composition__col_tex {
  font-family: 'Ubuntu-Medium';
  text-align: left;
  padding: 0.5714285714rem 2.1428571429rem 0.5714285714rem 0.5714285714rem; }

.composition__col_weight {
  font-family: 'Ubuntu-Medium';
  text-align: right;
  padding: 0.5714285714rem; }

.mass {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 4.2857142857rem;
  padding-top: 2.1428571429rem;
  opacity: 0.5; }
  @media screen and (max-width: 768px) {
    .mass {
      left: auto;
      bottom: auto;
      top: 0;
      right: 0; } }

.mass__img {
  position: absolute;
  display: inline-block;
  top: 0.7142857143rem;
  left: 0; }

.mass__numb {
  position: relative;
  margin-bottom: 0.7142857143rem;
  font-family: 'Gagalin Regular';
  color: #ffffff;
  font-size: 1.4285714286rem;
  margin-left: 0.7142857143rem; }

.mass__text {
  position: relative;
  font-family: 'Gagalin Regular';
  color: #ffffff;
  text-align: center; }

.nav__tablets {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #2f3133;
  z-index: 10000;
  transition: 0.3s; }

.nav__tablets_logo {
  position: absolute;
  top: 5%;
  left: 5%; }

.nav__tablets_closes {
  position: absolute;
  top: 5%;
  right: 5%; }

.nav__tablets_link {
  position: relative;
  display: inline-block;
  width: 100%;
  color: #ffffff;
  padding: 1.4285714286rem;
  text-transform: uppercase; }

.nav__tablets_link:after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 4px;
  height: 4px;
  bottom: 0;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff; }

/*# sourceMappingURL=main.css.map */
