
.team {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: relative;
  background: url('../img/SBS_1255-X2.png') center center / cover no-repeat ;
}

.team__right {
  position: absolute;
  top: 0;
  right: rem(0px);
  bottom: 0;
  width: 50%;
  overflow: hidden;
  background-color: rgba($color: #393b3c, $alpha: 0.93);

  @include tablets {
    width: 100%;
  }


}

.team__cent {
  padding: rem(85px) rem(90px);
  overflow: hidden;
}

.accordeon-team__list {
  display: flex;
  flex-direction: column;
  
}

.accordeon-team__elem {
  // display: flex;
  padding-top: rem(35px);
    &_activ {
      .accordeon-team__contener {
        height: 100%;
        padding-top: rem(14px);
        padding-left: rem(14px);
      }
      .accordeon-team__btn {
        color: #f9b43b;
        &:before {
          transform: rotate(-180deg);
          position: relative;
          top: rem(-6px);
        }
      }

    }

    
}



.accordeon-team__btn {
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Gagalin Regular';
  font-size: rem(14px);
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

    &:before {
      content: "";
      height: 0;
      width: 0;
      border: rem(6px) solid transparent;
      border-top-color: #f9b43b;
      margin-right: rem(10px);
     
    }
    @include tablets {
      justify-content: center;
    }
  
}
   


.accordeon-team__contener {
  display: flex;
  overflow: hidden;
  height: 0;

  @include tablets {
    flex-direction: column;
    align-items: center;
  }
  
  

  
}

.accordeon-team__img {
  height: 100%;
  width: 100%;
  
}

.accordeon-team__picture {
   height: rem(100px);
   width: rem(100px);
  border-radius: 50%;
  overflow: hidden;
  flex: 1 0 auto;
  margin-right: rem(16px);
  
}
.accordeon-team__text {
  float: right;

  @include tablets {
    text-align: center;
    margin-top: rem(10px);
  }
}

.accordeon-team__title {
  color: #ffffff;
  font-family: 'Ubuntu-B';
  margin-bottom: rem(14px);
}

.accordeon-team__p {
  color: #ffffff;

}